PORT=3000

PGHOST=localhost
PGPORT=7002
PGDATABASE=lomax
PGUSER=lomaxadmin
PGPASSWORD=REEMPLAZAR_CON_PASSWORD_LOCAL

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=REEMPLAZAR_CON_CLAVE_LOCAL
AWS_SECRET_ACCESS_KEY=REEMPLAZAR_CON_SECRETO_LOCAL

FLOCI_ENDPOINT=http://localhost:4566

TABLA_PRODUCTOS=ProductoDetalles
BUCKET_ORIGINALES=lomax-originales
BUCKET_MINIATURAS=lomax-miniaturas
FUNCION_MINIATURAS=lomax-miniaturas

MAX_IMAGE_BYTES=5000000
